/*
 * Skriften til Familien Sommer hub (Sommerhimmel): Plus Jakarta Sans som variabel woff2-fil (kun latin, som dækker
 * æ, ø og å) fra Fontsource, under SIL Open Font License (licenser/). Kopieres til apps'ene af scripts/sync-shared.mjs.
 * De skrifter, de andre designforslag brugte, er beskrevet i docs/design-arkiv/README.md.
 */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url(plus-jakarta-sans.woff2) format("woff2");
}
